<script id="usuario-rol-permiso-template" type="text/x-handlebars-template">
  <div class="modal-dialog modal-xlg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">{{titulo_modal}}</h4>
        <button type="button" class="close" data-dimdiss="modal" aria-label="Close" id="closeModal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label class="texto-der" id="mensajeRptaRolPermiso"></label>
        <div class="row">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <div class="form-group">
                  <label for="cbmSistema">Sistemas</label>
                  <select class="form-control" id="cbmSistema" {{#if disabled}}disabled{{/if}}>
                    <option value="E"></option>
                    {{#fillSelect sistemas "E"}}{{/fillSelect}}
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row oculto" id="fila-tablas">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6"id="formTableUsuarioRol">
                <h6 class="subtitulo" style="margin-bottom:15px">Roles del Sistema Asociados al Usuario</h6>
                <label class="texto-der" id="mensajeRptaUsuarioRol"></label>
                <table class="table table-striped" style="" id="tablaUsuarioRol">
                  <thead>
                    <tr>
                      <th style="width: 10px; display:none;">id</th>
                      <th style="width: 200px;">Nombre</th>
                      <th style="width: 60px;">Existe</th>
                      <th style="display:none;">Botones</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <td colspan="1000" style="text-align:right">
                        <button class="btn btn-default guardar-tabla"> <i class="fa fa-check" style="margin-right:5px"></i>Guardar Cambios</button>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <div class="col-md-6"id="formTableUsuarioPermiso">
                <h6 class="subtitulo" style="margin-bottom:15px">Permisos del Sistema Asociados al Usuario</h6>
                <label class="texto-der" id="mensajeRptaUsuarioPermiso"></label>
                <table class="table table-striped" style="" id="tablaUsuarioPermiso">
                  <thead>
                    <tr>
                      <th style="width: 10px; display:none;">id</th>
                      <th style="width: 150px;">Nombre</th>
                      <th style="width: 150px;">Llave</th>
                      <th style="width: 60px;">Existe</th>
                      <th style="display:none;">Botones</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <td colspan="1000" style="text-align:right">
                        <button class="btn btn-default guardar-tabla"> <i class="fa fa-check" style="margin-right:5px"></i>Guardar Cambios</button>
                      </td>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>
